
    ---
    
    ---
    <section class="whvgn_ovt">
  <header class="whvgn_ovt">
    <div class="img whvgn_ovt"></div>
    <h2 class="whvgn_ovt">
      WebC to React 🎈
    </h2>
  </header>
</section>
    
    <style>
    .whvgn_ovt>section{background-color:#fdba74;border-radius:2rem}.whvgn_ovt header{padding-inline:1rem;padding-block:4rem;text-align:center}.whvgn_ovt .img{border-radius:50%;width:16rem;height:16rem;background-color:#138086;margin-inline:auto;aspect-ratio:1}.whvgn_ovt h2{font-size:2.25rem;line-height:2.5rem;font-weight:800;padding-block-start:1rem;color:#333;text-decoration:none;margin-block-end:unset}@media (min-width:768px){.whvgn_ovt header{padding:5rem;display:flex;gap:4rem;justify-content:center}.whvgn_ovt .img{width:18rem;height:18rem;margin-inline:unset}.whvgn_ovt h2{font-size:4.5rem;line-height:1;padding:2rem;margin-block:auto}}
    </style>
    
    
  